/*SHIFT + F5 stop refresh*/


body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:white;
    padding-left:15px;
    padding-right:15px;
}

.index{
    background: linear-gradient(white, rgb(219, 226, 225) 10%);
    /*background-color:rgb(219, 226, 225);*/      
}

.outershadow{
    border-top:none;
    border-bottom:solid;
    border-left:solid;
    border-right:solid;

    border-width:2px;
    border-bottom-width:4px;

    border-color:#b0b7b6;
}

.innershadow{

}

footer{
    background-color:rgb(219, 226, 225);     
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}
.brand{
    color:#9099a2;
    font-weight:600;
    font-size:1.5em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-stretch:extra-expanded;
    text-decoration:none;
    background-color:rgb(219, 226, 225);     
    border-radius:12px;
    padding-left:50px;
    padding-right:50px;
}

hr {

    height:4px;
}

.menubar{
    text-align:center;
    position:center;
}

.body{
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


a{
    color:inherit;
}

div{

}


.body-content{
    text-align:center;

}

input[type=text]{
    border-radius:8px;
    box-shadow:rgba(0, 0, 0, 0.4) 3px 2px inset;
    padding:5px;
}

input[type=text]:focus{
    border-radius:8px;
 
}

input[type=text]:hover{
    cursor:pointer;
}

.orderlink{
    cursor:pointer;
}

table{
    overflow:visible;
    font-family:Arial, Helvetica, sans-serif;
    color:#757575;
    font-weight:bold;
    padding:2px;
    font-weight:400;
    border-radius:12px;
    border-top:inset;
    margin-left:auto;
    margin-right:auto;
    background-color:#f3f3f3;
    box-shadow:rgba(0, 0, 0, 0.4) 3px 2px inset;
}

td{
    padding:4px;
    font-weight:bold;
}

th{
    font-size:1.2em;
}

tr:nth-child(even){
    background-color:rgba(11,77,77,0.2);
}


.cell{
    display:inline-flex;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

button{
    text-align:center;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    border: solid;
    border-color: #949494;
    border-width: 1px;
    border-radius: 4px;
    color: #707882;
    background-color: #f5f5f5;
    padding: 3px;
    padding-left: 2px;
    padding-right: 6px;
    box-shadow:rgba(0, 0, 0, 0.4) -2px -2px inset;
}

.remove{
    color:#674848;
}

.add{
    color:#7393af;
}


button:active{
    animation: press 2s;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.pointright{
    float:left;
    position:relative;
    display:inline;
}

.createContainer{
    text-align:center;
}


    
.tr-hoverable:hover{

        animation:enlarge 1s;
   
        animation-fill-mode:forwards;
}

.pointer{
    color:#7393af;

    display:inline-block;
    overflow:hidden;
    position:relative;

    animation:pointing 2s;
    animation-iteration-count:infinite;
}

/*@keyframes hovering
{
    0% {transform:scaleX(1);}
    20% {transform:scaleX(1.08);}
    100% {transform:scaleX(1);}
}*/

@keyframes enlarge
{
    0% {transform:scale(1); background-color:initial;}
    100% {transform:scale(1.1, 1.25); background-color:#f3f3f3;}
}

@keyframes pointing
{
    0% {transform:initial;}
    50% {transform:translateX(-20px);}
    100% {transform:initial;}
}

@keyframes press
{

    0% {box-shadow:initial;}
    50% {box-shadow:rgba(0, 0, 0, 0.2) -1px -1px inset; border:none;}
    100% {box-shadow:initial; border:initial;}
}

@media screen and (min-width: 700px) {

    body{

        margin-left:auto;
        margin-right:auto;
        width:600px;
    }

    
    button:hover{
        animation:hovering 1s;
        animation-iteration-count:infinite;
    }

    
    a:hover{
        cursor:pointer;
    }


}

@media screen and (max-width: 436px) {
    body {

    }

    th{
        display:flex;
    }

    td{
        display:flex;
    }
}

@media screen and (max-width: 244px) {

    input[type=text]{
    border-radius:8px;
    box-shadow:rgba(0, 0, 0, 0.4) 2px 1px inset;
    padding:3px;
    width:80%;

    }

    .brand{
        width:80%;
        padding-left:2%;
        padding-right:2%;
    }

}