<link href="~/Content/Site.css" rel="stylesheet" />

@using Assignment7.Repository;

<div ng-app="personApp">


    <div ng-controller="PersonController">


        <input type="text" name="search" ng-model="searchTerm" placeholder="Search.."/>
        <hr class="hr-short" />
        @*<select ng-model="Option">
            <option value=@PersonRepo.menuOption.City>City</option>
            <option value=@PersonRepo.menuOption.ID>Id</option>
            <option value=@PersonRepo.menuOption.Name>Name</option>
            <option value=@PersonRepo.menuOption.Occupation>Occupation</option>
        </select>

        <button ng-click="getSearchData(searchTerm, Option)">Search</button>*@

        @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frm", id = "frm" }))
        {
            @Html.AntiForgeryToken()
            
            <div><input type="text" ng-model="Models.Person.Name" placeholder="Enter Name.." /></div>
            <div><input type="text" ng-model="Models.Person.City" placeholder="Enter City.." /></div>
            <div><input type="text" ng-model="Models.Person.Occupation" placeholder="Enter Occupation.." /></div>

        }
        <hr class="hr-short" />
        <button ng-click="sendData()">Create Person</button>
        <br />

        <div class="jumbotron" ng-init="initData()">
            <table>
                <tr>
                    <th>Index</th>
                    <th>ID</th>
                    <th ng-click="orderSetup('Name')">Name</th>
                    <th ng-click="orderSetup('City')">City</th>
                    <th ng-click="orderSetup('Occupation')">Occupation</th>
                </tr>

                <tr ng-repeat="model in data|filter:searchTerm|orderBy : orderType : orderDir  track by $index">
                    <td>{{$index}}</td>
                    <td>{{model.ID}}</td>
                    <td>{{model.Name}}</td>
                    <td>{{model.City}}</td>
                    <td>{{model.Occupation}}</td>
                    <td><button ng-click="removeData(model.ID, $index)">Remove</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>