<link href="~/Content/Site.css" rel="stylesheet" />

@using Assignment7.Repository;

<div class="index outershadow" ng-app="personApp">


    <div ng-controller="PersonController" ng-init="scope.initVariables()">
        <br />
        <input type="text" name="search" ng-model="searchTerm" placeholder="Search.."/>
        <br />
        <br />

        @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frm", id = "frm" }))
        {
            @Html.AntiForgeryToken()

            <div class="createContainer">
                <input type="hidden" ng-model="Models.Person.ID" value="" />
                <div><input type="text" ng-model="Models.Person.Name" placeholder="Enter Name.." required/></div>
                <div><input type="text" ng-model="Models.Person.City" placeholder="Enter City.." /></div>
                <div><input type="text" ng-model="Models.Person.Occupation" placeholder="Enter Occupation.." /></div>
            </div>
        }
        <br />

        <button class="add" ng-click="sendData()">Create Person</button>
        <br />
        <br />
        <div class="jumbotron" ng-init="initData()">

                <table>
                    <tr>
                        <th class="orderlink" ng-click="orderSetup('Name')">Name</th>
                        <th class="orderlink" ng-click="orderSetup('City')">City</th>
                        <th class="orderlink" ng-click="orderSetup('Occupation')">Occupation</th>
                    </tr>

                    <tr class="tr-hoverable" ng-repeat="model in data|filter:searchTerm|orderBy : orderType : orderDir  track by $index">
                        @*<td>{{$index}}</td>
                        <td>{{model.ID}}</td>*@

                        <td ng-show="!edit"> {{model.Name}} </td>
                        <td ng-show="!edit"> {{model.City}} </td>
                        <td ng-show="!edit"> {{model.Occupation}} </td>

                        <td ng-show="edit"> <input type="text" ng-model="model.Name"/></td>
                        <td ng-show="edit"> <input type="text" ng-model="model.City"/></td>
                        <td ng-show="edit"> <input type="text" ng-model="model.Occupation"/></td>

                        <td><button class="remove" ng-click="removeData(model)">Remove</button><div class="divider"></div> <button class="add" ng-show="!edit" ng-click="edit = true">Edit</button> <button ng-show="edit" ng-click="edit = false; editData(model, model.Name, model.City, model.Occupation)">Confirm</button> </td>
                    </tr>
                </table>
            <br />
        </div>
    </div>
</div>